.footer-element {
  vertical-align: middle;
  display: inline-flex;
  justify-content: space-between;
  padding-right: 20px;
}
.footer-name {
  color: rgb(31, 76, 134);
  font-size: 10px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.footer-elements {
  width: 100%;
  margin: auto;
  border-top: 0.5px solid rgb(16, 106, 158);
  margin-top: 10px;
  justify-content: space-between;
}
p {
  color: rgb(160, 158, 145);
  font-size: 10px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.footer-links {
  text-decoration: none;
}
