.header {
  margin: auto;
  display: table;
}
.header-elements:hover {
  background-color: #00a8ff;
  opacity: 40%;
}
.header-elements {
  color: white;
  text-align: center;
  display: inline-block;
  padding-left: 30px;
  padding-right: 30px;
  background-color: transparent;
  border: transparent;
  text-decoration: none;
}
