.completeDiv {
  height: 400px;
  width: 50%;
  background-color: rgba(117, 188, 255, 0.12);
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
}
.right-details {
  height: 300px;
  width: 45%;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-face-color: rebeccapurple green;
  border: 1px solid rgba(57, 156, 248, 0.12);
}
.left-image {
  height: 300px;
  width: 45%;
}
.personImage {
  height: 300px;
  width: 300px;
  padding-left: 10px;
}
.Name {
  color: white;
  font-size: 50px;
  display: flex;
  font: open bold;
  padding-bottom: 30px;
}
.details {
  color: white;
  font-size: 22px;
  padding-bottom: 20px;
  display: flex;
  font: open bold;
}
