p3 {
  color: rgb(160, 158, 145);
  font-size: 10px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.footer-name {
  color: rgb(9, 93, 202);
  font-size: 10px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
p1 {
  color: cornsilk;
  font-size: 50px;
  font-family: monospace;
}
hr {
  border-color: rgb(16, 106, 158);
  width: 70%;
  margin-top: 30px;
}
.name {
  color: white;
  font-size: 13px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
img {
  width: 150px;
}
.logo {
  width: 150px;
  padding-top: 10px;
  justify-content: center;
  margin: auto;
}
li {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 30px;
}
.images {
  width: 40%;
  margin: auto;
}
