p1 {
  color: cornsilk;
  font-size: 50px;
  font-family: monospace;
}
hr {
  border-color: rgb(16, 106, 158);
  width: 70%;
}
.name {
  color: white;
  font-size: 13px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
img {
  width: 150px;
}
.logo {
  width: 150px;
  padding-top: 10px;
  justify-content: center;
  margin: auto;
}
.imag {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 40px;
  padding-top: 30px;
}
.images {
  width: 40%;
  margin: auto;
}
.filmlinks {
  font-size: 100px;
  display: flex;
}
