.List {
  color: white;
  font-size: 15px;
  font: Open Bold;
  display: flex;
  height: 10px;
  width: 200px;
  padding-top: 3px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 30px;
}
.List:hover {
  background-color: #00a8ff;
  opacity: 40%;
}
.button {
  border-radius: 2px;
  height: 30px;
  width: 100px;
  background-color: rgb(14, 104, 156);
  font: Open bolder;
  font-size: 15px;
  color: white;
  float: inline-start;
  margin-left: 30px;
}
.button:hover {
  background-color: #5b9aad;
}
